.formTaskCreate {
  margin: 20px auto;
  max-width: 700px;
  display: flex;
  justify-content: space-between;

  .input {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    height: 40px;
    font-size: 16px;
    outline-color: rgba(20, 177, 238, .7);
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 8px;
    margin-right: 30px;

    &:focus {
      border: none;
      padding: 15px;
    }
  }
}

