.textArea {
  overflow: auto;
  width: 400px;
  max-height: 100px;
  resize: none;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid rgba(66, 66, 66, 0.5);
  outline-color: #28d8ff;
  margin: 20px 0;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: darkgrey;
    margin-top: 1px;

    margin-bottom: 1px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.71) !important;
  }
}