* {
    box-sizing: border-box;
}
.main {
    display: flex;
}

.addButton {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0, .5);
    background-color: rgba(67, 225, 14, 0.5);
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0, .2);
        background-color: rgba(67, 225, 14, 0.6);
    }
}

.editButton {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0, .5);
    background-color: rgba(14, 137, 225, 0.5);
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0, .2);
        background-color: rgba(14, 98, 225, 0.6);
    }
}

.removeButton {
    width: 120px;
    min-width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0, .5);
    background-color: rgba(225, 14, 21, 0.5);
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0, .2);
        background-color: rgba(225, 14, 46, 0.8);
    }
}

